VITE_SUPABASE_URL=https://fmlepwwucpnashinmrfc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtbGVwd3d1Y3BuYXNoaW5tcmZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzNjQ4NTEsImV4cCI6MjEwMDk0MDg1MX0.e3oIH7ZVJWGR5nCktWP26xJzHeUhnxR5uMKnw8Ffo6U
